


 html {
     background: #348AC7; /* fallback for old browsers */
  background: linear-gradient(to right,#348AC7 , #7474BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

 .navbar{
   background-color: transparent;
   box-shadow: none;
      z-index: 1;
}


section h2{
   font-size: 9vh;
   line-height: 9vh;
}


#portrait{
   animation-name: slidefromright;
   animation-duration: 0.4s;
   z-index: 0;
   position: absolute;
   right: 0;
   bottom:0;
   height: 90vh;
}

main {
   padding-bottom: 0;
}
