body {
   background-color: yellow;
}

header {
   font-size: 80px;
   text-align: center;
   color: white;
   background-color: black;
   padding-top: 20px;
   height: 120px;
}

nav {
   height: 100px;
   background-color: white;
   width: auto;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

a {
   text-decoration: none;
   border: white;
   background-color: black;
   padding: 20px;
   font-size: 25px;
   width: 200px;
   text-align: center;
   margin: 10px;
   color: white;
   border-radius: 10px;
}
