* {
   box-sizing: border-box;
}

body {
   width: 100vw;
   /* height: 100vh; */
   display: flex;
}

.main-container {
   margin: 3vh 10px 0;
   align-self: center;
}

.page-title {
   font-family: Righteous, sans-serif;
   color: #011345;
   text-align: center;
   position: absolute;
   padding: 1em;
   width: 600px;
   margin: 0 calc(50vw - 300px) 1em;
}

h1 {
   font-weight: 700;
   font-size: 48px;
   /* font-family: Monoton, cursive; */
}

h2 {
   font-size: 30px;
   margin-top: 10px;
   text-align: right;
   padding: 0 4px;
   /* font-family: Monoton, cursive; */
}

.container {
   display: flex;
   margin: 130px 30px 5vh;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   font-family: Montserrat, sans-serif;
}

.card {
   margin: 0 10px 10px;
   position: relative;
   width: 240px;
   height: 240px;
   transition: transform 1s;
   transform-style: preserve-3d;
   /* flex-shrink: 1; */
}

.card:hover {
   transform: rotateY(180deg);
}

.front {
   position: absolute;
   width: 100%;
   height: 100%;
   backface-visibility: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #aaa;
}

.back {
   transform: rotateY(180deg);
   position: absolute;
   width: 100%;
   height: 100%;
   backface-visibility: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(255, 255, 255, 1);
}

.front img {
   width: 100%;
   height: 100%;
}

.front h3 {
   position: absolute;
   font-size: 20px;
   text-align: center;
   background-color: rgba(255, 255, 255, 1);
   padding: 30px 1em;
   width: 100%;
}

.front h4 {
   position: absolute;
   font-size: 20px;
   text-align: center;
   background-color: rgba(255, 255, 255, 1);
   padding: 1em;
   width: 100%;
}

.back p {
   text-align: center;
   margin: 1rem;
}
