body {
   background-color: red;
}

header {
   font-size: 80px;
   text-align: center;
   color: white;
   background-color: black;
   padding-top: 20px;
   height: 120px;
   font-family: 'Questrial', sans-serif;
}

nav {
   height: 100px;
   background-color: white;
   width: auto;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   font-family: 'Questrial', sans-serif;
}

a {
   text-decoration: none;
   border: white;
   background-color: black;
   padding: 20px;
   font-size: 25px;
   width: 200px;
   text-align: center;
   margin: 10px;
   color: white;
   border-radius: 10px;
   font-family: 'Questrial', sans-serif;
}

form {
   margin: 2em auto;
   width: 400px;
   padding: 2em;
   /* border: 1px solid '#4682B4'; */
   border: 5px solid black;
   border-radius: 1em;
   background-color: lightgrey;
   font-size: 25px;
   font-family: 'Questrial', sans-serif;
}

form div + div {
   margin-top: 1em;
   align-content: center;
}

label {
   display: inline-block;
   width: 300px;
   text-align: left;
}

input,
textarea {
   font: 1em sans-serif;
   width: 300px;
   box-sizing: border-box;
   border: 1px solid #999;
}

input:focus,
textarea:focus {
   border-color: #000;
}

textarea {
   vertical-align: top;
   height: 5em;
}

.button {
   padding-left: 90px;
}

button {
   margin-left: .5em;
}
