#container {
   width: 960px;
   background-color: #000;
}

nav {
   margin: 8.2px 0;
   top: 0;
   left: 0;
   height: 16px;
   width: 960px;
   background-color: #000;
   border: 1px solid #eee;
   border-bottom-right-radius: 8px;
}

nav > ul {
   margin: 0 auto;
   width: 960px;
   list-style-type: none;
}

nav > ul > li {
   text-align: center;
   width: 140px;
   line-height: 16px;
   display: inline-block;
}

a:hover,
a:visited,
a:link,
a:active {
   text-decoration: none;
   color: #eee;
}
