
h5 {
  font-size: 100px;

}

h6 {
  font-size: 35px;
  margin-left: 5px;
  margin-top: -16px;

}

.workitems img:nth-child(1) {
   width: 450px;
   float: left;
   margin-top: 61px;
   margin-left: 15%;
   border-color: black:
   border-width: 10px;
   border-style: solid;
}

.workitems img:nth-child(2) {
   width: 450px;
   float: right;
    margin-top: 5%;
   margin-right: 13%;
   padding-bottom: 15px;
   position: relative;
   z-index: 1;
}

hr {
    color: black;
    display: block;
    width: 100vw;
    margin-before: 0.5em;
    margin-after: 0.5em;
    margin-start: auto;
    margin-end: auto;
    overflow: hidden;
    border-style: solid;
    border-width: 3px;
}
