body {

}

.services h1 {
   font-family: Righteous, sans-serif;
   text-align: center;
   font-weight: 700;
   font-size: 48px;
   margin-top: 30px;
   border-bottom: 20px;
   margin: 0 calc(50vw - 400px) 1em;
}

#what-drives-me {
   display: flex;
   width: 900px;
   margin: auto;
}

.item {
   color: red;
   border: 5px solid white;
   width: 298px;
   background: black;
}

.item--image-container img {
   width: 100%;
   background-color: blue;
}

.item--image-container h2 {
   font-family: Poppins, sans-serif;
   font-size: 30px;
   position: absolute;
   text-align: center;
   background: black;
}

.item--image-container {
   position: relative;
}
