body {
   background: black;
   color:  #eee;
}

.container {
   width: 100%;
   padding-top: 32px;
   padding-bottom: 32px;
}

.navleft {
   width: 300px;
   height: calc(100vh - 64px);
   background: black;
   position: fixed;
   border-right: #eee solid 1px;
   display: block;
}

.logo {
   width: 140px;
   height: 150px;
   margin: -50px auto;
}

a:hover,
a:visited,
a:link,
a:active {
   text-decoration: none;
   color: #eee;
}

.about {
   width: 140px;
   height: 200px;
   position: fixed;
   bottom: 1px;
   left: 85px;
   font-family: 'Work Sans', sans-serif;
   line-height: 1.4;
   text-align: right;
}

.content_right {
   width: calc(100vw - 300px);
   height: calc(100vh - 64px);
   float: right;
}

.bottom_black {
   width: 100%;
   height: 32px;
   position: fixed;
   bottom: 0;
   background-color: black;
}

.title {
   display: flex;
   width: calc(100% - 64px);
   height: 183px;
   border: solid #eee 1px;
   margin: 0 auto 16px;
   border-bottom-right-radius: 16px;
}

h1 {
   padding: 16px 32px;
   font-family: 'Poppins', sans-serif;
   color: #eee;
   font-size: 72px;
   font-weight: 600;
   line-height: 1.2;
}

.filter {
   display: flex;
   color: #eee;
   width: calc(100% - 64px);
   height: 35px;
   border: solid #eee 1px;
   margin: 0 auto 16px;
   border-top-right-radius: 16px;
}

#branding {
   padding: 8px;
}

#poster {
   padding: 8px;
}

.portfolio {
   width: 100%;
}

.work {
   border: solid 1px #eee;
   width: calc((100% - 38px) / 3 - 32px);
   height: 300px;
   float: left;
   margin: 0 0 32px 32px;
}

.work04 {
   width: 800px;
   height: 50px;
}

img {
   width: 100%;
   height: 300px;
}

.work:hover {
   background: #eee;
}

@media only screen and (max-width: 1024px) {
   .work {
      width: calc((100% - 36px) / 2 - 32px);
   }
}

@media (min-width: 860px) and (max-width: 1024px) {
   .work {
      width: calc((100% - 36px) / 2 - 32px);
   }

   h1 {
      font-size: 60px;
   }
}

@media (min-width: 375px) and (max-width: 860px) {
   .work {
      width: calc((100% - 34px) - 32px);
   }

   .navleft {
      display: none;
   }

   .content_right {
      width: 100vw;
   }

   h1 {
      font-size: 60px;
   }
}
