body {
   background-image: url('./img/homepage.png');
   background-size: cover;
}

header {
   font-size: 40px;
   text-align: center;
   color: white;
   background-color: black;
   padding: 20px;
}

nav {
   height: 40px;
   background-color: green;
}

a {
   text-decoration: none;
}
