
h1 {
   font-size: 40px;
   text-align: center;
   color: white;
}

h2 {
   font-size: 35px;
   text-align: center;
   color: white;
}

nav {
   height: 40px;
   background-color: green;
}

a {
   text-decoration: none;
}

body {
   background-image: url('./img/homepage.png');
   background-size: cover;
}
